<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client info input</title>
</head>
<body>
<form action="ClientServlet" method="post">
    <p>Name: <input type="text" name="name"/></p>
    <p>Surname: <input type="text" name="surname"/></p>
    <p>Age: <input type="number" name="age"/></p>
    <p>Tours:</p>
    <p><input type="checkbox" name="tours" value="Львів - Відень">Львів - Відень</p>
    <p><input type="checkbox" name="tours" value="Київ - Прага">Київ - Прага</p>
    <p><input type="checkbox" name="tours" value="Одеса - Софія">Одеса - Софія</p>
    <p><input type="submit" value="Submit"/></p>
</form>
</body>
</html>